@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px #00000033;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button-light {
  background: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.field {
  width: 100%;
  height: 48px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header {
  position: relative;
  z-index: 2;

  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  gap: 30px;
}

.navigation-logo {
  display: block;
  width: 140px;
  margin-bottom: -6px;
}

.navigation-logo img {
  display: block;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-right: auto;

}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;

  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 140px;
  margin: 12px 0 0 auto;
}

.user-link {
  position: relative;

  display: block;
  width: 44px;
  height: 44px;

  color: #000000;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.user-link-search {
  background-image: url("../images/svg/search.svg");
}

.user-link-favorites {
  text-align: right;

  background-image: url("../images/svg/heart.svg");
}

/*не понимаю почему не меняет расположение справа*/
.user-favorites-num {
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
  margin-top: 14px;
}

.main-index {
  flex-grow: 1;
}

.hero {
  position: relative;

  padding: 50px 70px 82px;

  text-align: center;
  color: #ffffff;

  background-color: #534f50;
  background-image: url("../images/svg/vector-hero.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto, cover;
}

.advantages-theme {
  padding: 69px 70px 87px;
}

.advantages-title {
  margin-bottom: 25px;
}

.item-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.item-text {
  margin: 0;
}

.advantages-list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  display: flex;

  color: #ffffff;

  background-color: #82b3d3;

  grid-column: 1 / -1;
}

.advantages-item-revers {
  flex-direction: row-reverse;
}

.advantages-item-full .advantages-subtitle {
  color: #ffffff;
}

.advantages-image {
  flex-shrink: 0;
  width: 800px;
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
}

.advantages-content {
  max-width: 400px;
  min-height: 385px;
  padding: 115px 85px 100px;

  text-align: center;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-subtitle {
  position: relative;

  margin: 0 0 30px;
  padding-bottom: 30px;
}

.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-item-full .advantages-subtitle {
  color: #ffffff;
}

.advantages-item-full .advantages-subtitle::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.service-there {
  padding: 69px 70px;
}

.service-list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.service-item {
  min-height: 385px;
  padding: 180px 85px 20px;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: top 80px center;
  background-size: 75px 72px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

.service-item-house {
  background-image: url("../images/svg/house.svg");
}

.service-item-food {
  background-image: url("../images/svg/food.svg");
}

.service-item-souvenirs {
  background-image: url("../images/svg/souvenirs.svg");
}

.service-subtitle {
  margin-bottom: 30px;
}

.search {
  padding: 90px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 50px;
}

.search-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #828c96;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  margin-bottom: 50px;
}

.subscribe-form {
  display: grid;
  align-items: start;
  width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.subscribe-input {
  height: 100%;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 70px 30px;

  gap: 41px;
}

.social {
  display: grid;
  align-items: center;

  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 41px;

  color: #82b3d3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #755651;
  background-image: url("../images/filter-catalog.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-main-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  gap: 27px;

}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 13px;

  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.breadcrumbs-item {
  position: relative;
}

.advantages-item::not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;

  width: 7px;
  height: 10px;

  background-image: url("../images/svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.filter-form {
  display: flex;
  flex-wrap: wrap;

  gap: 70px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  display: block;
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  white-space: normal;
}

.control-list {
  display: grid;

  gap: 16px;
}

.control-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  appearance: none;
}

.control-text {
  padding-left: 16px;
}

/* переписал код по чекбоксам, но он не работает у меня*/
.control-input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 20px;
  height: 19px;

  background-image: url("../images/svg/tick-checkbox.svg");
  transform: translate(-50%, -50%);
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.control-input::checked::before {
  display: block;
}

.control-label {
  display: grid;
  align-items: start;
  width: fit-content;

  line-height: 23px;

  grid-template-columns: repeat(2, auto);
}

.filter-group-range {
  margin-left: auto;
}

.range-input-container {
  display: grid;
  width: 288px;
  margin-bottom: 36px;

  column-gap: 2px;

  grid-template-columns: repeat(2, 1fr);
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 191px;

  gap: 32px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  margin-right: auto;
}

.catalog-select {
  display: flex;
  width: 292px;
  margin-right: 70px;
  padding: 14px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view {
  display: grid;

  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../images/svg/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/view-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/view-list.svg");
}

.product-list {
  display: grid;

  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.product-item {
  display: grid;
  padding: 20px;

  border: 1px solid #e6e6e6;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.product-card-link {
  color: #000000;
  text-decoration: none;

  grid-column: 1 / -1;
}

.product-card-link img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-card-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-text-price {
  text-align: right;
}

.product-rating-text {
  margin: 0;
  padding: 9px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-rating-star {
  display: block;
  height: 37px;
  margin: 0;

  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.product-rating-star-4 {
  width: 90px;
}

.product-rating-star-3 {
  width: 70px;
}

.product-rating-star-2 {
  width: 40px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0;
  padding-top: 40px;

  border-top: 1px solid #e6e6e6;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  background-size: cover;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}
