@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  padding: 0 40px;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.30);

  background-color: #756157;
}

.button:disabled {
  background-color: #e5e5e5;

  pointer-events: none;
}

.button-light {
  background: #82b3d3;
  cursor: pointer;
}

.button-light:hover,
.button-light:focus {
  background-color: #68a2ca;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-light:disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  pointer-events: none;
}

.button-transparent {
  background-color: transparent;
  cursor: pointer;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
}

.button-transparent:focus {
  background-color: transparent;
  outline: none;
  box-shadow: inset 0 0 0 3px #82b3d3;
  opacity: 1;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: transparent;
  box-shadow: none;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);

  background-color: transparent;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.field {
  width: 100%;
  height: 48px;
  padding: 11px 20px 11px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #82b3d3;
}

.field:disabled,
.field:disabled:hover {
  color: #000000;

  border-color: #000000;
  opacity: 0.3;

  pointer-events: none;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

.field[type="number"],
.field[type="text"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.field::-webkit-inner-spin-button,
.field::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header {
  position: relative;
  z-index: 1;

  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  /*gap: 20px;*/
}

.navigation-logo {
  display: block;
  width: 140px;
  margin-right: 28px;
  margin-bottom: -6px;
}

.navigation-logo[aria-current="page"] {
  pointer-events: none;
}

.navigation-logo:hover,
.navigation-logo:focus {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo img {
  display: block;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-right: auto;

}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;

  background-color: rgba(131, 179, 211, 0.2);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current {
  text-decoration: underline;

  text-decoration-color: #756257;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 150px;
  margin-right: 20px;
}

.user-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
  padding: 10px;

  color: #000000;
  text-decoration: none;

  fill: currentColor;
}

.user-link:hover,
.user-link:focus {
  color: #756157;

  background-color: rgba(131, 179, 211, 0.2);
}

.user-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.user-favorites-num {
  position: absolute;
  top: 18%;
  right: 9%;

  min-width: 20px;
  max-width: 6ch;
  min-height: 20px;
  padding: 5px 4px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
  margin-top: 14px;
}

.main {
  flex-grow: 1;
}

.hero {
  padding: 50px 70px 82px;

  text-align: center;
  color: #ffffff;

  background-color: #534f50;
  background-image: url("../images/svg/vector-hero.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto, cover;
}

.hero img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.item-title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.item-text {
  margin: 0;
}

.advantages-theme {
  margin-bottom: 21px;
  padding: 70px 70px 90px;

  text-align: center;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: grid;
  margin: 0;
  padding: 0;

  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;

  background-color: #82b3d3;

  grid-column: 1 / -1;
}

.advantages-item-revers {
  flex-direction: row-reverse;
}

.advantages-item-full .advantages-subtitle {
  color: #ffffff;
}

.advantages-image {
  flex-shrink: 0;
  width: 800px;
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.advantages-content {
  max-width: 400px;
  min-height: 385px;
  padding: 115px 85px 100px;

  text-align: center;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-subtitle {
  position: relative;

  margin: 0 0 30px;
  padding-bottom: 30px;
}

.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-item-full .advantages-subtitle::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.service-there {
  padding: 69px 70px;

  text-align: center;
}

.service-title {
  margin-bottom: 20px;
}

.service-list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.service-item {
  min-height: 385px;
  padding: 180px 85px 60px;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: top 80px center;
  background-size: 75px 72px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

.service-item-house {
  background-image: url("../images/svg/house.svg");
}

.service-item-food {
  background-image: url("../images/svg/food.svg");
}

.service-item-souvenirs {
  background-image: url("../images/svg/souvenirs.svg");
}

.services-subtitle {
  margin-bottom: 30px;
}

.search {
  padding: 94px 70px 97px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 53px;
}

.search-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #828c96;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  margin-bottom: 55px;
}

.subscribe-form {
  display: grid;
  align-items: start;
  width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.subscribe-input {
  height: 100%;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #755651;
  background-image: url("../images/filter-catalog.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-main-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;

  gap: 27px;

}

.breadcrumbs-item:not(:last-child) {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;

  width: 7px;
  height: 10px;

  background-image: url("../images/svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:not([aria-current="page"]):hover,
.breadcrumbs-link:not([aria-current="page"]):focus {
  opacity: 0.6;
}

.breadcrumbs-link:not([aria-current="page"]):active {
  opacity: 0.3;
}

.breadcrumbs-link-home {
  display: block;
  flex-shrink: 0;
  width: 13px;
  height: 13px;

  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;

  gap: 30px 70px;
}

.filter-group {
  max-width: 191px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.filter-group-range {
  width: 100%;
  max-width: 288px;
  margin-left: auto;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  gap: 32px;
}

control-label {
  display: grid;
  width: fit-content;

  line-height: 23px;

  grid-template-columns: repeat(2, auto);
}

.control-text {
  padding-left: 16px;
}

.control-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  appearance: none;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/svg/tick-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.control-list {
  display: grid;

  gap: 16px;
}

.control-label:hover {
  opacity: 0.6;
}

.control-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #82b3d3;
}

.control-label:active {
  opacity: 0.3;
}

.control-input:disabled,
.control-input:disabled+.control-text {
  opacity: 0.3;

  pointer-events: none;
}

.range-input-container {
  display: grid;
  margin-bottom: 36px;

  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.range-item {
  position: relative;
}

.range-item label {
  position: absolute;
  right: 0;

  padding: 11px 20px;

  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  padding: 10px 55px 10px 18px;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;

  height: 20px;
}

.range-scale::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.range-bar {
  position: absolute;
  top: 50%;
  z-index: 2;

  height: 4px;

  background-color: #ffffff;
  transform: translateY(-50%);
}

.range-toggle-btn {
  position: absolute;
  top: 50%;
  z-index: 2;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle-btn-min {
  left: 0;
}

.range-toggle-btn-max {
  right: 0;
}

.range-toggle-btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle-btn:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 0 0 3px #82b3d3;
}

.range-toggle-btn:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4), 0 0 0 2px #82b3d3;
}

.range-toggle-btn:disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  pointer-events: none;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  gap: 70px;
}

.catalog-title {
  margin-right: auto;
}

.catalog-select {
  display: flex;
  width: 292px;
  height: 49px;
  padding: 5px 40px 5px 18px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/svg/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 12px 9px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.catalog-select:hover,
.catalog-select:focus {
  border-color: #68a2ca;
  outline: none;
}

.catalog-select:disabled {
  color: #000000;

  border-color: #000000;
  opacity: 0.3;

  pointer-events: none;
}

.view {
  display: grid;
  justify-content: end;

  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-active {
  border-color: #000000;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  border-color: #68a2ca;
  outline: none;
}

.view-link:active {
  border-color: #000000;
}

.view-link:disabled {
  opacity: 0.3;
}

.view-link-tile {
  background-image: url("../images/svg/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/view-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/view-list.svg");
}

.product-list {
  display: grid;
  margin-bottom: 38px;
  /*padding: 0 0 40px;*/

  list-style: none;

  border-bottom: 1px solid #e6e6e6;

  gap: 17px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.product-item {
  display: grid;
  align-content: start;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px 1fr;

}

.product-card-link {
  color: #000000;
  text-decoration: none;

  grid-column: 1 / -1;
}

.product-card-link:hover,
.product-card-link:focus {
  opacity: 0.6;
}

.product-card-link:active {
  opacity: 0.3;
}

.product-card-link:disabled {
  opacity: 0.3;

  pointer-events: none;
}

.product-card-link img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.product-card-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-text-price {
  text-align: right;
}

.product-rating-text {
  margin: 0;
  padding: 9px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-rating-star {
  display: block;
  height: 37px;
  margin: 0;

  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.product-rating-star-4 {
  width: 90px;
}

.product-rating-star-3 {
  width: 70px;
}

.product-rating-star-2 {
  width: 40px;
}

.button-favorites-active {
  background-color: #7db54f;
}

.button-favorites-active:hover,
.button-favorites-active:focus {
  background-color: #6c9e42;
}

.button-favorites-active:active {
  color: rgba(255, 255, 255, 0.30);

  background-color: #7db54f;
}

.button-favorites-active:disabled {
  background-color: #e5e5e5;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;

  list-style: none;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-width: 200px;
  min-height: 60px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:not(.pagination-link-current):hover,
.pagination-link:not(.pagination-link-current):focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:not(.pagination-link-current):active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;

  gap: 41px;
}

.social {
  display: grid;
  align-items: center;

  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 41px;

  color: #82b3d3;

  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;

  outline: none;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  max-width: 500px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;

  fill: currentColor;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #756157;

  outline: none;
}

.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  margin: auto;
  padding: 64px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-serch {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  /*left: 613px;*/

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;

  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button svg {
  position: absolute;

  display: block;
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: none;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin-bottom: 64px;

  text-align: left;
  /*margin: 0;
  margin-bottom: 64px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;*/
}

.form {
  display: grid;
  align-items: center;

  gap: 23px 80px;
  grid-template-columns: 1fr 1fr;
}

.form-group-date {
  display: grid;
  align-items: center;

  gap: 0 15px;
  grid-template-columns: 120px 1fr;
}

.date {
  grid-column: 1 / -1;
}

.date-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.form-input {
  padding-right: 60px;

  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px 20px;
}

.counter-field {
  padding: 10px 40px;

  line-height: 20px;
  text-align: center;
}

.modal-info {
  margin: 4px 0 0;
  padding-left: 20px;

  font-size: 16px;
  line-height: 21px;

  grid-column: 2 / -1;
}

.error-date {
  color: #ff5757;
}

.modal-counter {
  position: relative;
}

.button-guests {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;
  border-radius: 4px;
  transform: translateY(-50%);
  cursor: pointer;
}

.button-guests::before,
.button-guests::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 2px;

  background-color: rgba(117, 97, 87, 0.3);
  transform: translate(-50%, -50%);
}

.button-guests::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.button-guest-min {
  left: 9px;
}

.button-guest-min::after {
  display: none;
}

.button-guest-max {
  right: 10px;
}

.button-guests:hover::after,
.button-guests:hover::before {
  background-color: #000000;
}

.button-guests:focus::after,
.button-guests:focus::before {
  background-color: #000000;
}

.button-guests:focus {
  outline: none;
  box-shadow: 0 0 0 3px #82b3d3;
}

.button-guests:active::after,
.button-guests:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.children-label {
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.tooltip {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 11px;

  place-content: center;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: #83b3d3;
  border: none;
  border-radius: 50%;

  fill: currentColor;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68a2ca;
}

.tooltip-toggle:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;

  width: 256px;
  min-height: 143px;
  margin-top: 15px;
  padding: 19px 22px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: -1;

  width: 12px;
  height: 12px;

  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.modal-button {
  margin-top: 25px;
  padding: 18px 10px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;

  grid-column: 1/-1;
}

/*
.form-group-date {
  display: grid;
  align-items: center;

  gap: 0 15px;
  grid-template-columns: 120px 1fr;
}

.date {
  grid-column: 1 / -1;
}

.form-input {
  width: 440px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;

  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  background-size: 20px 20px;
  border: 4px #f2f2f2;
}

.form-label {
  align-self: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;

  grid-area: 1/1/2/2;
  justify-self: start;
}

.modal-info {
  margin: 4px 0 0;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 21px;
  text-indent: 20px;

  grid-column: 2/3;
  grid-row: 2/3;
}

.error-date {
  color: #ff5757;
  ;
}

.counter-field {
  width: 110px;
  height: 48px;
  padding: 10px 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;

  appearance: none;
}

.group-guests {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.form-group-guests {
  display: grid;
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  column-gap: 10px;

  grid-template-columns: auto auto 27px;
  grid-template-columns: 125px 110px;
}

.modal-counter {
  position: relative;

  box-sizing: inherit;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;

  border-radius: 4px;
}

.button-quest {
  position: absolute;
  top: 14px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-guest::before,
.button-guest::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 2px;

  background-color: rgba(117, 97, 87, 0.3);
  transform: translate(-50%, -50%);
}

.button-guest::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.button-guest-min {
  left: 9px;
}

.button-guest-min::after {
  display: none;
}

.button-guest-max {
  right: 10px;
}

.modal-counter button:hover::before,
.modal-counter button:hover::after,
.modal-counter button:focus::before,
.modal-counter button:focus::after {
  background-color: #000000;
}

.modal-counter button:focus {
  border-radius: 4px;
  box-shadow: 0 0 0 3px #82b3d3;
}

.modal-counter button:active::before,
.modal-counter button:active::after,
.modal-counter button:active {
  box-shadow: none;
  opacity: 0.2;
}

.form-label-icon {
  position: relative;

  margin: auto 0;
  padding-right: 26px;

  text-align: left;
}

.tooltip {
  position: absolute;

  width: 26px;
  height: 26px;
  margin-top: -3px;
  margin-left: 12px;
}

.tooltip-toggle {
  display: block;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;

  color: #242424;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  z-index: 1;

  display: none;
  width: 256px;
  margin-top: 13px;
  padding: 21px 18px 23px 22px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  transform: translateX(-50%);
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 130px;
  left: 50%;

  width: 18px;
  height: 18px;
  margin-left: -9px;

  background-color: #333333;
  transform: rotate(45deg);
}

.modal-button {
  width: 577px;
  margin-top: 20px;
  padding: 18px 77px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  border-radius: 10px;
}
*/
